
Content/Dialogue Tree/DialogueTreeandQuestSyste/Saved/Config/CrashReportClient/UECC-Windows-DBB4651F4F1070DCE22DB1974C08680C/CrashReportClient.ini
Content/Door.fbx
Content/HorrorEngine/Blueprints/UsableAssets/DoorsAndFurnitures/DoorPet.uasset
Content/HorrorEngine/Blueprints/UsableAssets/DoorsAndFurnitures/DoubleCabinet.uasset
Content/HorrorEngine/Blueprints/UsableAssets/DoorsAndFurnitures/DoubleDoor.uasset
Content/HorrorEngine/Blueprints/UsableAssets/Inventory/Key.uasset
Content/HorrorEngine/Maps/Overview.umap
Content/Maps/Hospital.umap
Content/Megascans/Surfaces/Old_Hospital_Concrete_Floor_tltleibaw/MI_Old_Hospital_Concrete_Floor_tltleibaw_1K.uasset
Content/Megascans/Surfaces/Old_Hospital_Concrete_Floor_tltleibaw/T_Old_Hospital_Concrete_Floor_tltleibaw_1K_D.uasset
Content/Megascans/Surfaces/Old_Hospital_Concrete_Floor_tltleibaw/T_Old_Hospital_Concrete_Floor_tltleibaw_1K_N.uasset
Content/Megascans/Surfaces/Old_Hospital_Concrete_Floor_tltleibaw/T_OldHospitalConcreteFloor_tltleibaw_1K_ORDp.uasset
Content/Megascans/Surfaces/White_Ceramic_Tiles_tmekdbzbw/MI_White_Ceramic_Tiles_tmekdbzbw_1K.uasset
Content/Megascans/Surfaces/White_Ceramic_Tiles_tmekdbzbw/T_White_Ceramic_Tiles_tmekdbzbw_1K_D.uasset
Content/Megascans/Surfaces/White_Ceramic_Tiles_tmekdbzbw/T_White_Ceramic_Tiles_tmekdbzbw_1K_N.uasset
Content/Megascans/Surfaces/White_Ceramic_Tiles_tmekdbzbw/T_WhiteCeramicTiles_tmekdbzbw_1K_ORDp.uasset
Content/Mesh/Decals/MapIndonesia/M_Indonesia.uasset
Content/Mesh/Decals/poster_kesehatan/M_Poster_kesehatan.uasset
Content/Mesh/Wall_SM_Wall_4x2_01a3_LOD0.uasset
Intermediate/CachedAssetRegistry.bin
Intermediate/ReimportCache/3688439234.bin
Saved/Autosaves/Game/HorrorEngine/Blueprints/UsableAssets/DoorsAndFurnitures/DoorPet_Auto2.uasset
Saved/Autosaves/Game/HorrorEngine/Blueprints/UsableAssets/DoorsAndFurnitures/DoubleCabinet_Auto1.uasset
Saved/Autosaves/Game/HorrorEngine/Blueprints/UsableAssets/DoorsAndFurnitures/DoubleCabinet_Auto2.uasset
Saved/Autosaves/Game/HorrorEngine/Blueprints/UsableAssets/DoorsAndFurnitures/DoubleDoor_Auto1.uasset
Saved/Autosaves/Game/HorrorEngine/Blueprints/UsableAssets/Inventory/Key_Auto1.uasset
Saved/Autosaves/Game/HorrorEngine/Maps/Overview_Auto1.umap
Saved/Autosaves/Game/Maps/Hospital_Auto1.umap
Saved/Autosaves/Game/Maps/Hospital_Auto2.umap
Saved/Autosaves/Game/Maps/Hospital_Auto3.umap
Saved/Autosaves/Game/Maps/Hospital_Auto4.umap
Saved/Autosaves/Game/Mesh/Door/DoorPet_Auto1.uasset
Saved/Autosaves/Game/Mesh/MI_Stucco_Facade_wb0idix_1K_Auto1.uasset
Saved/Autosaves/Game/Mesh/MI_Stucco_Facade_wb0idix_1K_Auto2.uasset
Saved/Autosaves/Game/Mesh/MI_Stucco_Facade_wb0idix_1K_Auto3.uasset
Saved/Autosaves/Game/Mesh/Wall_SM_Wall_4x2_01a3_LOD0_Auto1.uasset
Saved/Autosaves/Game/Mesh/Wall_SM_Wall_4x2_01a3_LOD0_Auto2.uasset
Saved/Autosaves/Game/Mesh/Wall_SM_Wall_4x2_01a3_LOD0_Auto3.uasset
Saved/Autosaves/Game/Mesh/Wall_SM_Wall_4x2_01a3_LOD1_Auto1.uasset
Saved/Autosaves/Game/Mesh/Wall_SM_Wall_4x2_01a3_LOD1_Auto2.uasset
Saved/Autosaves/Game/Mesh/Wall_SM_Wall_4x2_01a3_LOD1_Auto3.uasset
Saved/Autosaves/Game/Mesh/Wall_SM_Wall_4x2_01a3_LOD2_Auto1.uasset
Saved/Autosaves/Game/Mesh/Wall_SM_Wall_4x2_01a3_LOD2_Auto2.uasset
Saved/Autosaves/Game/Mesh/Wall_SM_Wall_4x2_01a3_LOD2_Auto3.uasset
Saved/Autosaves/Game/Mesh/Wall_SM_Wall_4x2_01a3_LOD3_Auto1.uasset
Saved/Autosaves/Game/Mesh/Wall_SM_Wall_4x2_01a3_LOD3_Auto2.uasset
Saved/Autosaves/Game/Mesh/Wall_SM_Wall_4x2_01a3_LOD3_Auto3.uasset
Saved/Config/CrashReportClient/UECC-Windows-08E2E03545237DE1EE85E38CB7595495/CrashReportClient.ini
Saved/Config/CrashReportClient/UECC-Windows-09B8DDF44603C89928407AB8BAB936B0/CrashReportClient.ini
Saved/Config/CrashReportClient/UECC-Windows-135B00934AF8953AE9591C8D22B220B3/CrashReportClient.ini
Saved/Config/CrashReportClient/UECC-Windows-1CCEE45546BB7C35DA2D5BA61EFAEDA0/CrashReportClient.ini
Saved/Config/CrashReportClient/UECC-Windows-2399146141315B56FA72EBB726D52940/CrashReportClient.ini
Saved/Config/CrashReportClient/UECC-Windows-33A9A7A647360D965CB8A9BF0D619406/CrashReportClient.ini
Saved/Config/CrashReportClient/UECC-Windows-3A750B37413192EF51F2F6A2F4CCD939/CrashReportClient.ini
Saved/Config/CrashReportClient/UECC-Windows-447B935D4057480C878F66A2313BC0BB/CrashReportClient.ini
Saved/Config/CrashReportClient/UECC-Windows-47830B5B40741F1362C30FA55E0C27F6/CrashReportClient.ini
Saved/Config/CrashReportClient/UECC-Windows-4D587B914244B27A93072C89FC7E2B8D/CrashReportClient.ini
Saved/Config/CrashReportClient/UECC-Windows-53AE5460459842CE4685E59CDEBDA52C/CrashReportClient.ini
Saved/Config/CrashReportClient/UECC-Windows-6A9D63F24DEEE0C9559C39B383627B15/CrashReportClient.ini
Saved/Config/CrashReportClient/UECC-Windows-7437D0D04D60A1404CE2F6AADE3C6933/CrashReportClient.ini
Saved/Config/CrashReportClient/UECC-Windows-87125A044A955B7DD5F4C6A43014C429/CrashReportClient.ini
Saved/Config/CrashReportClient/UECC-Windows-988C88384D993A511134868288E8CBCF/CrashReportClient.ini
Saved/Config/CrashReportClient/UECC-Windows-A058B3E94717567A9015FF97CF68A56C/CrashReportClient.ini
Saved/Config/CrashReportClient/UECC-Windows-AE51647F4A83248F2140D6B1FA280E96/CrashReportClient.ini
Saved/Config/CrashReportClient/UECC-Windows-D3E223E148FDA95AE2ADBBA561C22741/CrashReportClient.ini
Saved/Config/CrashReportClient/UECC-Windows-E0E085854E8C754CDDAC30829B7005DD/CrashReportClient.ini
Saved/Config/WindowsEditor/Editor.ini
Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
Saved/Config/WindowsEditor/Engine.ini
Saved/Config/WorldState/714663044.json
Saved/Crashes/UECC-Windows-08E2E03545237DE1EE85E38CB7595495_0000/CrashContext.runtime-xml
Saved/Crashes/UECC-Windows-08E2E03545237DE1EE85E38CB7595495_0000/CrashReportClient.ini
Saved/Crashes/UECC-Windows-08E2E03545237DE1EE85E38CB7595495_0000/LakonTheUnforgiven.log
Saved/Crashes/UECC-Windows-08E2E03545237DE1EE85E38CB7595495_0000/UEMinidump.dmp
Saved/Crashes/UECC-Windows-47830B5B40741F1362C30FA55E0C27F6_0000/CrashContext.runtime-xml
Saved/Crashes/UECC-Windows-47830B5B40741F1362C30FA55E0C27F6_0000/CrashReportClient.ini
Saved/Crashes/UECC-Windows-47830B5B40741F1362C30FA55E0C27F6_0000/LakonTheUnforgiven.log
Saved/Crashes/UECC-Windows-47830B5B40741F1362C30FA55E0C27F6_0000/UEMinidump.dmp
Saved/Crashes/UECC-Windows-47830B5B40741F1362C30FA55E0C27F6_0001/CrashContext.runtime-xml
Saved/Crashes/UECC-Windows-47830B5B40741F1362C30FA55E0C27F6_0001/CrashReportClient.ini
Saved/Crashes/UECC-Windows-47830B5B40741F1362C30FA55E0C27F6_0001/LakonTheUnforgiven.log
Saved/Crashes/UECC-Windows-47830B5B40741F1362C30FA55E0C27F6_0001/UEMinidump.dmp
Saved/Crashes/UECC-Windows-4D587B914244B27A93072C89FC7E2B8D_0000/CrashContext.runtime-xml
Saved/Crashes/UECC-Windows-4D587B914244B27A93072C89FC7E2B8D_0000/CrashReportClient.ini
Saved/Crashes/UECC-Windows-4D587B914244B27A93072C89FC7E2B8D_0000/LakonTheUnforgiven.log
Saved/Crashes/UECC-Windows-4D587B914244B27A93072C89FC7E2B8D_0000/UEMinidump.dmp
Saved/Crashes/UECC-Windows-6A9D63F24DEEE0C9559C39B383627B15_0000/CrashContext.runtime-xml
Saved/Crashes/UECC-Windows-6A9D63F24DEEE0C9559C39B383627B15_0000/CrashReportClient.ini
Saved/Crashes/UECC-Windows-6A9D63F24DEEE0C9559C39B383627B15_0000/LakonTheUnforgiven.log
Saved/Crashes/UECC-Windows-6A9D63F24DEEE0C9559C39B383627B15_0000/UEMinidump.dmp
Saved/Crashes/UECC-Windows-719B05FB47A644E4E92BF9B97B1754FF_0000/CrashContext.runtime-xml
Saved/Crashes/UECC-Windows-719B05FB47A644E4E92BF9B97B1754FF_0000/CrashReportClient.ini
Saved/Crashes/UECC-Windows-719B05FB47A644E4E92BF9B97B1754FF_0000/LakonTheUnforgiven.log
Saved/Crashes/UECC-Windows-719B05FB47A644E4E92BF9B97B1754FF_0000/UEMinidump.dmp
Saved/Crashes/UECC-Windows-D3E223E148FDA95AE2ADBBA561C22741_0000/CrashContext.runtime-xml
Saved/Crashes/UECC-Windows-D3E223E148FDA95AE2ADBBA561C22741_0000/CrashReportClient.ini
Saved/Crashes/UECC-Windows-D3E223E148FDA95AE2ADBBA561C22741_0000/LakonTheUnforgiven.log
Saved/Crashes/UECC-Windows-D3E223E148FDA95AE2ADBBA561C22741_0000/UEMinidump.dmp
Saved/Logs/cef3-backup-2024.07.26-09.20.59.log
Saved/Logs/cef3-backup-2024.07.26-09.23.41.log
Saved/Logs/cef3-backup-2024.07.27-13.41.32.log
Saved/Logs/cef3.log
Saved/Logs/LakonTheUnforgiven-backup-2024.07.24-09.42.18.log
Saved/Logs/LakonTheUnforgiven-backup-2024.07.31-04.46.28.log
Saved/Logs/LakonTheUnforgiven-backup-2024.07.31-14.54.34.log
Saved/Logs/LakonTheUnforgiven-backup-2024.08.01-07.14.05.log
Saved/Logs/LakonTheUnforgiven-backup-2024.08.01-08.00.33.log
Saved/Logs/LakonTheUnforgiven-backup-2024.08.01-12.29.26.log
Saved/Logs/LakonTheUnforgiven-backup-2024.08.01-12.34.45.log
Saved/Logs/LakonTheUnforgiven-backup-2024.08.02-06.20.38.log
Saved/Logs/LakonTheUnforgiven-backup-2024.08.02-08.22.46.log
Saved/Logs/LakonTheUnforgiven-backup-2024.08.02-10.38.14.log
Saved/Logs/LakonTheUnforgiven-backup-2024.08.02-10.45.23.log
Saved/Logs/LakonTheUnforgiven.log
Saved/Logs/LakonTheUnforgiven_2-backup-2024.08.02-09.43.38.log
Saved/Logs/LakonTheUnforgiven_2-backup-2024.08.02-09.43.57.log
Saved/Logs/LakonTheUnforgiven_2.log
Saved/SaveGames/Settings.sav
Saved/SourceControl/UncontrolledChangelists.json
Saved/webcache_4430/Cache/data_0
Saved/webcache_4430/Cache/data_1
Saved/webcache_4430/Cache/data_2
Saved/webcache_4430/Cache/data_3
Saved/webcache_4430/Cache/f_0003a9
Saved/webcache_4430/Cache/f_0003ca
Saved/webcache_4430/Cache/f_0003cb
Saved/webcache_4430/Cache/f_0003cc
Saved/webcache_4430/Cache/f_0003cd
Saved/webcache_4430/Cache/f_0003ce
Saved/webcache_4430/Cache/f_0003cf
Saved/webcache_4430/Cache/f_0003d0
Saved/webcache_4430/Cache/f_0003d1
Saved/webcache_4430/Cache/f_0003d2
Saved/webcache_4430/Cache/f_0003d3
Saved/webcache_4430/Cache/f_0003d4
Saved/webcache_4430/Cache/f_0003d5
Saved/webcache_4430/Cache/f_0003d6
Saved/webcache_4430/Cache/f_0003d7
Saved/webcache_4430/Cache/f_0003d8
Saved/webcache_4430/Cache/f_0003d9
Saved/webcache_4430/Cache/f_0003da
Saved/webcache_4430/Cache/f_0003db
Saved/webcache_4430/Cache/f_0003dc
Saved/webcache_4430/Cache/f_0003dd
Saved/webcache_4430/Cache/f_0003de
Saved/webcache_4430/Cache/f_0003df
Saved/webcache_4430/Cache/f_0003e0
Saved/webcache_4430/Cache/f_0003e1
Saved/webcache_4430/Cache/f_0003e2
Saved/webcache_4430/Cache/f_0003e3
Saved/webcache_4430/Cache/f_0003e4
Saved/webcache_4430/Local Storage/leveldb/000004.log
Saved/webcache_4430/Local Storage/leveldb/LOG
Saved/webcache_4430/Local Storage/leveldb/LOG.old
Saved/webcache_4430/LOG
Saved/webcache_4430/LOG.old
Saved/webcache_4430/Network Persistent State
Saved/webcache_4430/Session Storage/000003.log
Saved/webcache_4430/Session Storage/LOG
Saved/webcache_4430/Session Storage/LOG.old
Saved/webcache_4430/TransportSecurity
Saved/webcache_4430/Visited Links
